.change-password-container {
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    position: fixed;
    top: 0;
    z-index: 3;
    transition: 200ms;
    box-shadow: 0 0 3px black;
    overflow: auto;
}

.edit-container {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: calc(100% - 3.5rem);
    position: relative;
    overflow: hidden;
}

.change-password-header {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 3.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    gap: 1rem;
    background: var(--background-color);
}


.edit-profile {
    padding-top: 10px;
    border-bottom: none;
    box-shadow: none;
}