.user-box-chat {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  width: 34%;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);
  position: absolute;
  z-index: 5;
  right: 0.4rem;
  transition: 300ms;
  box-shadow: 0 0 3px black;
}

/*styling for pattern.svg*/
.box-chat-bg {
  position: absolute;
  z-index: 2;
}

.st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7 {
  stroke: var(--stroke-color);
}

/*styling for UserInbox*/
.user-header-container {
  width: 64%;
  position: fixed;
  z-index: 3;
  background: var(--background-color);
  padding: 0 1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1.5px solid var(--header-border);
  cursor: pointer;
}

.user-header-container .user {
  width: fit-content;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  text-decoration: none;
  gap: 1.1rem;
}

.user-header-container .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  background: linear-gradient(rgb(205, 83, 83) 10%, #f67a59 90%);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
}

.user-header-container .user-avatar span {
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.user-header-container .user-labels {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h5, p {
  margin: 0;
}

.user-header-container .user-labels h5 {
  color: var(--font-color);
  font-size: 1rem;
}

.user-header-container .user-labels p {
  color: #aaaaaa;
  font-size: 0.86rem;
}

.chatlist-container ul li:focus-within .user-labels h5,
.chatlist-container ul li:focus-within .user-labels p {
  color: white;
}

.chat-utils {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

.util-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.util-icon {
  margin: auto;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.util-icon:hover { 
  background: var(--hover);
}

.util-container {
  z-index: 4;
  width: 12rem;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  margin: auto;
  top: 3rem;
  right: 2rem;
  transition: all 300ms ease;
  
}

.util-container ul {
  padding: 0.4rem 0.2rem;
  width: 12rem;
  z-index: 3;
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px black;
  background: var(--background-color);
  backdrop-filter: blur(10px);
}

.util-container ul li {
  padding: 0.4rem;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  height: 2rem;
}

.util-container ul li:hover {
  background: var(--hover);
}

.util-container .dropdown-label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 0.87rem;
  width: 100%;
}

.alert {
  color: rgb(205, 83, 83);
}

.text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.text-input-box {
  width: 92%;
  min-height: 1.5rem; /* Set the minimum height to 1.5rem */
  max-height: 10rem;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  resize: none; /* Disable manual resizing */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds the maximum height */
  transition: height 0.2s ease; /* Smooth transition when expanding */
  background-color: #3A3B3C;
  color: #fff;
}

.text-input-box:focus {
  outline: none;
  border-color: var(--primary-color);
}

.emoji-container {
  position: absolute;
  right: 80px; /* Adjust the right position as needed */
  top: 96.5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.emoji-icon:hover {
  transform: scale(1.2); /* Increase the size on hover (adjust as needed) */
  transition: transform 0.2s ease; /* Add a smooth transition */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}
.message-input-container .util-icon {
  position: relative;
  top: -3px;
}

