.user-box-chat {
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.user-info {
  width: 34%;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);
  position: absolute;
  z-index: 5;
  right: 0.4rem;
  transition: 300ms;
  box-shadow: 0 0 3px black;
}

/*styling for pattern.svg*/
.box-chat-bg {
  position: absolute;
  z-index: 2;
}

.st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7 {
  stroke: var(--stroke-color);
}

/*styling for UserInbox*/
.user-header-container {
  width: 64%;
  position: fixed;
  z-index: 3;
  background: var(--background-color);
  padding: 0 1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1.5px solid var(--header-border);
  cursor: pointer;
}

.user-header-container .user {
  width: fit-content;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  text-decoration: none;
  gap: 1.4rem;
}

.user-header-container .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  background: linear-gradient(rgb(205, 83, 83) 10%, #f67a59 90%);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
}

.user-header-container .user-avatar span {
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.user-header-container .user-labels {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h5, p {
  margin: 0;
}

.user-header-container .user-labels h5 {
  color: var(--font-color);
  font-size: 1rem;
}

.user-header-container .user-labels p {
  color: #aaaaaa;
  font-size: 0.86rem;
}

.chatlist-container ul li:focus-within .user-labels h5,
.chatlist-container ul li:focus-within .user-labels p {
  color: white;
}

.chat-utils {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}

.util-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.util-icon {
  margin: auto;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.util-icon:hover { 
  background: var(--hover);
}

.util-container {
  z-index: 4;
  width: 12rem;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  margin: auto;
  top: 3rem;
  right: 2rem;
  transition: all 300ms ease;
  
}

.util-container ul {
  padding: 0.4rem 0.2rem;
  width: 12rem;
  z-index: 3;
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px black;
  background: var(--background-color);
  backdrop-filter: blur(10px);
}

.util-container ul li {
  padding: 0.4rem;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  height: 2rem;
}

.util-container ul li:hover {
  background: var(--hover);
}

.util-container .dropdown-label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 0.87rem;
  width: 100%;
}

.message-input-container {
  display: flex;
  width: 58%;
  align-items: center;
  position: fixed;
  z-index: 6;
  bottom: 0.4rem;
  justify-content: space-between;
  margin-left: 2rem;
  padding: 1rem;
  gap: 0.8rem;
  
}

.input-container {
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 5% 90% 5%;
  background: var(--background-color);
  padding: 0.6rem;
  border-radius: 1.2rem;
  z-index: 6;
  
}

.input-area {
  padding: 0.6rem;
  font-size: 1rem;
  height: fit-content;
  background: var(--background-color);
  outline: none;
  border: none;
  box-shadow: none;
  width: 96%;
  word-break: break-word;
  word-wrap: break-word;
}

.input-area[type="text"] {
  color: var(--font-color);
}

.input-area:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.file-import-container, .send-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  cursor: pointer;
}

.send-container {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  background: var(--border-on-click);
}

.send-container:hover {
  filter: brightness(80%);
}

.emoji-picker-container {
  position: absolute;
  z-index: 7;
  bottom: 5rem;
  left: 1rem;
  transition: opacity 300ms ease, transform 300ms ease;
  opacity: 0;
  transform: translateY(10px);
  border: none;
  outline: none;
  background: var(--background-color);
  border-radius: 0.6rem;
}

.emoji-picker-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.EmojiPickerReact {
  border: none;
  outline: none;
  --epr-bg-color: var(--background-color);
  --epr-category-label-bg-color: var(--background-color);
  --epr-hover-bg-color: var(--hover);
  transition: 200ms ease;
}

.emoji-picker-container .EmojiPickerReact {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker .emoji-group {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker .emoji-group .emoji-group-title {
  color: var(--font-color) !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker .emoji-group .emoji-group-list {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker .emoji-group .emoji-group-list .emoji-group-emoji {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.emoji-picker-container .EmojiPickerReact .emoji-picker-react .emoji-picker .emoji-group .emoji-group-list .emoji-group-emoji:hover {
  background-color: var(--hover) !important;
}

.file-popup {
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 0 1.2rem;
  box-shadow: 0 0 4px black;
  border-radius: 10px;
}

.file-popup-normal {
  height: auto;
  top: calc(50% - 5.5rem);
}

.file-popup-image {
  height: auto;
  max-width: 280%;
  max-height: 280%;
  top: calc(50% - 9rem);
}

.file-popup-header, .file-popup-footer {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: fit-content;
  padding: 1rem 0;
  gap: 1rem;
}

.file-popup-header span {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--font-color);
}

.file-popup img {
  max-width: 105%;
  max-height: 105%;
  border-radius: 10px;
}

.file-descriptions {
  text-align: left;
}

.file-popup-footer {
  width: 105%;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.file-popup-footer input {
  font-size: 1rem;
  height: fit-content;
  background: var(--background-color);
  outline: none;
  border: none;
  box-shadow: none;
  width: 80%;

}

.file-popup-footer input[type=text] {
  color: var(--font-color);
}

.file-popup-footer input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.file-popup-footer button {
  padding: 0.8rem 1rem;
  background: var(--border-on-click);
  outline: none;
  border: none;
  border-radius: 10px;
}

.file-popup-footer button span {
  color: var(--font-color);
  font-weight: bold;
}

