.edit-body-right {
  padding-top: 4rem;
}

.edit-body-right .part1 {
  background-color: var(--background-color);
}
.edit-body-right .edit-avatar-container {
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-avatar-container > .avatar {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: var(--size-avatar-edit);
}

.avatar .imgAvt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.avatar .textAvt {
  background-color: wheat;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-avatar-edit);
}

.edit-body-right .name {
  text-align: center;
  font-size: 1.5rem;
}

.delete-contact {
  background-color: var(--background-color);
  padding-top: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-contact > .layout-btn {
  width: 95%;
  height: 75%;
  border-radius: 8px;
  cursor: pointer;
}

.delete-contact .layout-btn:hover {
  background: var(--hover);
}
.delete-contact .util-icon {
  position: relative;
  top: 20%;
  left: 0.5em;
}

.delete-contact p {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-size: medium;
  margin-left: 15px;
  color: red;
}

.submit-btn {
  position: absolute;
  background: var(--primary-color);
  color: #fff;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  right: 2rem;
  bottom: 1.5rem;
  animation-name: go-up;
  animation-duration: 0.15s;
}

@keyframes go-up {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 1.5rem;
  }
}
