.avatar-container {
  height: 400px;
  background: var(--background-avatar);
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container > .avatar {
  font-size: xxx-large;
}
.status1-container > .name {
  position: absolute;
  display: inline-block;
  top: 400px;
  left: var(--align-dimension);
  font-size: xx-large;
}

.phone-container {
  height: 80px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
}

.phone-container > .layout-btn {
  border-radius: 8px;
  cursor: pointer;
  width: 95%;
  height: 75%;
}

.phone-container .layout-btn:hover {
  background: var(--hover);
}

.phone-container p {
  display: inline-block;
  font-size: x-large;
  margin-left: 15px;
}

.phone-container .util-icon {
  position: relative;
  top: 20%;
  left: 0.5em;
}

.media-container {
  background-color: var(--background-color);
}
.media-container .media-topic {
  display: inline-block;
  width: calc(100% / 5);
  text-align: center;
  padding: 1rem 0;
  color: #aaaaaa;
  cursor: pointer;
}

.media-container .media-topic:hover {
  background-color: var(--hover);
}

.media-container > .header {
  border-bottom: rgba(25, 17, 17, 0.14) solid 1px;
}
.media-container > .body {
  background-color: var(--background-color);
  min-height: 100vh;
  color: #686c72;
}

.media-container .media-clicked {
  border-bottom: var(--primary-color) solid 3px;
  color: rgb(135, 116, 225) !important;
}
