.status2-container {
  background-color: black;
}

.status2-container .part1 {
  background-color: var(--background-color);
}
.status2-container .edit-avatar-container {
  height: 13rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-avatar-container > .avatar {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: var(--size-avatar-edit);
}

.avatar .imgAvt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.avatar .textAvt {
  background-color: wheat;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-avatar-edit);
}

.status2-container .name {
  text-align: center;
  font-size: 1.5rem;
}

.delete-contact {
  background-color: var(--background-color);
  border-top: 5px solid black;
  padding-top: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-contact > .layout-btn {
  width: 95%;
  height: 75%;
  border-radius: 8px;
  cursor: pointer;
}

.delete-contact .layout-btn:hover {
  background: var(--hover);
}
.delete-contact .util-icon {
  position: relative;
  top: 20%;
  left: 0.5em;
}

.delete-contact p {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-size: medium;
  margin-left: 15px;
  color: red;
}

.submit-btn {
  position: absolute;
  background: var(--primary-color);
  color: #fff;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  padding: 0;
  border-radius: 60%;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
}
