.media-container {
  border-top: var(--rightcolumn-backgroud) 0.2rem solid;
  background-color: var(--background-color);
}

.media-container .media-topic {
  display: inline-block;
  width: calc(100% / 5);
  text-align: center;
  padding: 1rem 0;
  color: #aaaaaa;
  cursor: pointer;
}

.media-container > .header {
  border-bottom: rgba(25, 17, 17, 0.14) solid 1px;
}
.media-container > .body {
  background-color: var(--background-color);
  min-height: 100vh;
  color: #686c72;
}

.media-grid-container {
  display: grid;
  grid-template-columns: repeat(4, calc(98% / 4));
  grid-gap: 1px;
}

.media-grid-container > img {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1;
}
