:root {
  --font-color: #333;
  --switch-color: white;
  --background-color: white;
  --search-bg-color: white;
  --border: #707579;
  --border-on-click: #3390ec;
  --hover: #f3f3f3;
  --bg-chat-1: #d2d78d;
  --bg-chat-2: #8bb985;
  --bg-chat-3: #74a98a;
  --bg-chat-4: #d8dbb9;
  --stroke-color: #a1ba92;
  --icon-color: #aaaaaa;
  --icon-color-active: var(--border-on-click);
  --header-border: #aaaaaa;
}

[data-theme="dark"] {
  --font-color: #eee;
  --switch-color: black;
  --background-color: #212121;
  --search-bg-color: #181818;
  --border: none;
  --border-on-click: #8774e1;
  --hover: #2b2b2b;
  --bg-chat-1: black;
  --bg-chat-2: black;
  --bg-chat-3: black;
  --bg-chat-4: black;
  --stroke-color: url(#stroke-gradient);
  --icon-color: #aaaaaa;
  --icon-color-active: var(--border-on-click);
  --header-border: black;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
