.signup-form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.8rem;
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.signup-form-container h4 {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 2rem;
}

.logo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.4rem;
  margin-bottom: 1rem;
  width: 600px;
}

.signup-btn {
  margin-top: 1.5rem;
  height: 3.6rem;
  border-radius: 10px;
  background: var(--icon-color-active);
  color: white;
  font-size: 1rem;
  outline: none;
  border: none;
  font-weight: 550;
  transition: filter 0.1s ease;
  width: 270px;
}

.submit-btn:hover {
  filter: brightness(75%);
}

.inputBox {
  position: relative;
  width: 270px;
  margin-top: 0.3rem;
  outline: none;
  border: none;
}

.inputBox input {
  box-shadow: 0px 0px 3px;
  margin-top: 0.9rem;
  width: 100%;
  padding: 20px 18px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--font-color);
  font-size: 1rem;
  background: var(--background-color);
}

.inputBox span {
  margin-top: 1rem;
  position: absolute;
  left: 0;
  padding: 16px 10px;
  pointer-events: none;
  font-size: 1rem;
  color: var(--font-color);
  transition: 0.2s ease;
}

.inputBox input:focus~span,
.inputBox input:valid~span {
  color: var(--border-on-click);
  transform: translateX(10px) translateY(-10px);
  font-size: 0.8rem;
  padding: 0 10px;
  background: var(--background-color);
}

.inputBox input:focus,
.inputBox input:valid {
  box-shadow: none;
  border: 2px solid var(--border-on-click);
}